html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

.header__logo {
  width: 180px;
  height: 48px;
}

.form__button {
  border-radius: 32px;
  background: rgb(75, 170, 0);
}